<div class="row">
  <%= form_for(@response) do |f| %>
  <form>
      <div class="form-group col-sm-6">
        <%= f.label :name, 'Full Name' %><br>
        <%= f.text_field :name, :class=>"form-control" %>
      </div>
      <div class="form-group col-sm-6">
        <%= f.label :phone, 'Phone Number' %><br>
        <%= f.text_field :phone, :class=>"form-control", :placeholder=>"ex: 123-456-7890" %>
      </div>
      <div class="form-group col-sm-6">
        <%= f.label :email, 'E-Mail'%><br>
        <%= f.text_field :email, :class=>"form-control" %>
      </div>
      <div class="form-group col-sm-6">
        <%= f.label :meal %><br>
        <%= f.select(:meal, [['None', 'None'],
                            ['Vegetarian', 'Vegetarian'],
                            ['No Beef', 'No Beef'],
                            ['No Pork', 'No Pork'],
                            ['Others', 'Others (message)']
                           ],{ :prompt => "-Preference-"} , :class=>"form-control"
                           ) 
                           %>
      </div>
      <div class="form-group col-sm-6">
        <%= f.label :shoesize, 'Shoe Size'%><br>
        <%= f.select :shoesize, [['35/22.8', '35'],
                            ['36/23.5', '36'],
                            ['37/23.8', '37'],
                            ['38/24.5', '38'],
                            ['39/25.1', '39'],
                            ['40/25.4', '40'],
                            ['41/25.7', '41'],
                            ['42/26.0', '42'],
                            ['43/26.7', '43'],
                            ['44/27.3', '44'],
                           ],{ :prompt => "-EUR/CM-"} ,  :class=>"form-control"%>
      </div>
      <div class="form-group col-sm-6">
        <%= f.label :parasailing %><br>
        <%= f.select(:activity, [['Yes, I will join on 8/2 morning', 'Yes'], ['No, I have other plans', 'No']], { :prompt =>"-Would you like to join?-"}, :class=>"form-control" ) %>
      </div>

   <!--  <div class="field">
        <%= f.label :guests, "# of Guest" %><br>
        <%= f.number_field :guests %>
      </div>  -->
      <div class="form-group col-sm-12">
        <%= f.label :note, 'Your Message'%><br>
        <%= f.text_area :note, :class=>"form-control", :type=>"text", :placeholder=>"If you have +1 that we have not yet invited, kindly fill in their personal info here. Please also let us know if you have children under 12. Thanks!", :rows=>"3"%>
      </div>
      <div class="col-sm-12 btn-div">
        <%= f.submit "RSVP TO WEDDING", class: 'btn btn-info btn-block' %>
      </div>
  </form>
  <% end %>
</div>