<div class="row">
  <%= form_for(@response) do |f| %>
  <form>
      <div class="form-group col-sm-6">
        <%= f.label :name, 'Full Name' %><br>
        <%= f.text_field :name, :class=>"form-control" %>
      </div>
      <div class="form-group col-sm-6">
        <%= f.label :phone, 'Phone Number' %><br>
        <%= f.text_field :phone, :class=>"form-control" %>
      </div>
      <div class="form-group col-sm-6">
        <%= f.label :email, 'E-Mail'%><br>
        <%= f.text_field :email, :class=>"form-control" %>
      </div>
      <div class="form-group col-sm-6">
        <%= f.label :meal %><br>
        <%= f.select(:meal, [['None', 'None'],
                            ['Vegetarian', 'Vegetarian'],
                            ['No Beef', 'No Beef'],
                            ['No Pork', 'No Pork'],
                            ['Others', 'Others']
                           ],{ :prompt => "-Preference-"} , :class=>"form-control"
                           ) 
                           %>
      </div>
      <div class="form-group col-sm-6">
        <%= f.label :shoesize, 'Shoe Size'%><br>
        <%= f.text_field :shoesize, :class=>"form-control", :placeholder=>"ex: US Size 7"%>
      </div>
      <div class="form-group col-sm-6">
        <%= f.label :activity %><br>
        <%= f.select(:activity, [['Yes, I will join', 'Yes'], ['No, thank you', 'No']], { :prompt =>"-Would you like to join?-"}, :class=>"form-control" ) %>
      </div>

   <!--  <div class="field">
        <%= f.label :guests, "# of Guest" %><br>
        <%= f.number_field :guests %>
      </div>  -->
      <div class="form-group col-sm-12">
        <%= f.label :note, 'Your Message'%><br>
        <%= f.text_area :note, :class=>"form-control", :type=>"text", :placeholder=>"If you have +1 or children under 12, please let us know.", :rows=>"3"%>
      </div>
      <div class="col-sm-12 btn-div">
        <%= f.submit 'RSVP', class: 'btn btn-info btn-block' %>
      </div>
  </form>
  <% end %>
</div>