<h1>Listing responses</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Meal</th>
      <th>Guests</th>
      <th>Shoe Size</th>
      <th>Activity</th>
      <th>Note</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @responses.each do |response| %>
      <tr>
        <td><%= response.name %></td>
        <td><%= response.phone %></td>
        <td><%= response.email %></td>
        <td><%= response.meal %></td>
        <td><%= response.guests %></td>
        <td><%= response.shoesize %></td>
        <td><%= response.activity %></td>
        <td><%= response.note %></td>
        <td><%= link_to 'Show', response %></td>
        <td><%= link_to 'Edit', edit_response_path(response) %></td>
        <td><%= link_to 'Destroy', response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Response', new_response_path %>
