<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.3/jquery.fullPage.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.3/jquery.fullPage.min.css" rel="stylesheet">
<script>

$(document).ready(function() {
    $('#rsvp_fullpage').fullpage({
    	anchors: ['Top', 'Letter', 'Invite', 'Ring', 'Info', 'RSVP'],
    	responsive: 800,
    	scrollBar: true,
    	normalScrollElements: '.rsvp_normal_scroll',
    	navigation: true,
    	touchSensitivity: 1,
    	fitToSection: false,
    	animateAnchor: false,
    });

});

</script>

<!-- ===========READ ME============= -->
<!-- Hello there, looking at my messy code? -->
<!-- This page is part of thejangel.com, which is based on ruby on rails and hosted on heroku free's26 dyno. Let me know if the site's buggy. I haven't done much test development. =p.  more to come! -->
<!-- =============END=============== -->

<div id="rsvp_fullpage">
<!-- dot navigation -->
<!-- <div class="hidden-xs" data-spy="affix" data-offset-top="0" id="rsvp_dotNav" class="pull-right">
	<ul>	
      <li title="Invite"><a href="#rsvp_top"></a></li>
      <li title="Info"><a href="#rsvp_info_all"></a></li>
      <li title="Form"><a href="#rsvp_form"></a></li>
      <li title="Comment"><a href="#rsvp_comment"></a></li>
    </ul>
</div> -->
<!-- dot navigation end -->
<div class="section">
	<section id="rsvp_top" class="rsvp_top_img hidden-xs" data-type="background">	
		<article>
			<p class="rsvp_top_text">RSVP</p>
		</article>
	</section>
	<section id="m_rsvp_top" class="m_rsvp_top_img hidden-sm hidden-md hidden-lg" data-type="background">
		<article>
			<p class="m_rsvp_top_text">RSVP</p>
		</article>
		<div class="m_rsvp_top_arrow text-center">
		<span class="glyphicon glyphicon-menu-down"></span>
		</div>
	</section>
</div>

<div class="section">
	<div id="rsvp_invite" class="container">
		<br>
	    <h3>Dear Friends,</h3>
	    <br>
		<p>We are finally tying the knot after six long years of being together! There were many instances which we had wanted to start our next exciting chapter of life sooner, but school, career and especially long distance relationship have made it a challenge. To celebrate our soon-to-be “super short distance” relationship, we invite you to share the joy, laughter and teary moment of our special day with us at Lake Tahoe. The wedding is going to be very small with our close friends only. </p>
		<br>
		<p>We fell in love with Lake Tahoe the first time we visited, and we certainly hope you will too! Please scroll down to see more information, and start planning your summer getaway!</p>
		<br>
		<p class="text-right">Sincerely, Jerry and Angel</p>
	</div>
</div>
<div class="section rsvp_inviting_you">
	<section id="rsvp_proposal" class="rsvp_middle2_img hidden-xs" data-type="background" data-speed="15">
		<article>
			<p class="rsvp_middle_text">INVITING YOU</p>
		</article>
	</section>
	<!-- ====== Mobile INVITING YOU section ====== -->
	<section class="m_rsvp_middle2_img hidden-sm hidden-md hidden-lg" data-type="background" data-speed="15">
		<article>
			<p class="rsvp_middle_text">INVITING YOU</p>
		</article>
	</section>
	<!-- ====== MOBILE end ====== -->

	<!-- START TIMER -->
	<div id="rsvp_timer" class="text-center" data-animated="FadeIn">
		<h1 id="message"></h1>
	    <div id="days" class="rsvp_timer_box"></div>
	    <div id="hours" class="rsvp_timer_box"></div>
	    <div id="minutes" class="rsvp_timer_box"></div>
	    <div id="seconds" class="rsvp_timer_box"></div>
	</div>
	<!-- END TIMER -->
</div>

<div id="rsvp_last_section" class="section">

	<section id="rsvp_ring" class="rsvp_middle_img hidden-xs" data-type="background" data-speed="15">
		<article>
			<p class="rsvp_middle_text2">TYING THE KNOT</p>
		</article>
	</section>
	<!-- ====== MOBILE  TYING THE KNOT ====== -->
	<section class="m_rsvp_middle_img hidden-sm hidden-md hidden-lg" data-type="background" data-speed="15">
		<article>
			<p class="rsvp_middle_text2">TYING THE KNOT</p>
		</article>
	</section>
	<!-- ====== MOBILE end ====== -->

</div>
<div class="section">	
	<div class="rsvp_normal_scroll">
		<div id="rsvp_pre_info">
			<a href="#rsvp_info_all" id="rsvp_expand_all" class="pull-right" data-toggle="collapse" data-target=".rsvp_inner_info">TOGGLE ALL</a>
		</div>
		
		<section id="rsvp_info_all" class="container-fluid">
			<!-- Accordion Information -->
			<div class="row">
				<div id="rsvp_date" class="rsvp_info col-md-4 col-md-offset-2">
					<div class="rsvp_info_icon">
						<div class="rsvp_icon_div">
							<a href="#rsvp_date_info" data-toggle="collapse">
								<%= image_tag('rsvp/icons/date_icon.png', size:"50x50") %>
							</a>
							<span>Date/Time</span>
						</div>
					</div>
					<div class="rsvp_info_heading text-center">
						<h3>Ceremony</h3>
						<p>Date: August 2nd, 2015</p>
						<p>Time: 4:00pm</p>
					</div>
					<div class="col-md-offset-10">
						<a class="glyphicon glyphicon-menu-down" data-toggle="collapse" href="#rsvp_date_info" aria-expanded="false" aria-controls="rsvp_date_info">
						</a>
					</div>
					<div class="collapse rsvp_inner_info" id="rsvp_date_info">
					  	<div class="row">	
					  		<!-- <div class="col-md-5 col-md-offset-1">
					    		<div class="panel panel-default">
								  <div class="panel-heading">
								    <h3 class="panel-title">Saturday (Suggested)</h3>
								  </div>
								  <div class="panel-body">
								    Panel content
								  </div>
								  <table class="table">
								  	<tbody>
								  		<tr>
									  		<th>Time</th>
									  		<th>Event</th>
									  	</tr>
									  	<tr>
									  		<td>10:00am</td>
									  		<td>Arrive at Lake Tahoe</td>
									  	</tr>
									  	<tr>
									  		<td>11:00am</td>
									  		<td>Emerald Bay</td>
									  	</tr>
									  	<tr>
									  		<td>1:00pm</td>
									  		<td>Eagle Fall</td>
									  	</tr>
									  	<tr>
									  		<td>4:00pm</td>
									  		<td>Heavenly Village</td>
									  	</tr>
									  	<tr>
									  		<td>6:00pm</td>
									  		<td>Dinner</td>
									  	</tr>
								  	</tbody>
								  </table>
								</div>
					  		</div> -->
							<div class="col-md-10 col-md-offset-1">
								<div class="panel panel-default">
									  <div class="panel-heading">
									    <h3 class="panel-title">Sunday, 8/2/2015</h3>
									  </div>
									  <div class="panel-body">
									    Optional events start early on wedding day. We highly recommend arriving in Lake Tahoe at least the night before.
									  </div>
									    <table class="table">
										  	<tbody>
										  		<tr>
											  		<th>Time</th>
											  		<th>Event</th>
											  	</tr>
											  	<tr>
											  		<td>10:00am</td>
											  		<td>Parasailing</td>
											  	</tr>
											  	<tr>
											  		<td>1:00pm</td>
											  		<td>Free Time</td>
											  	</tr>
											  	<tr>
											  		<td>4:00pm</td>
											  		<td>Wedding Ceremony</td>
											  	</tr>
											  	<tr>
											  		<td>5:00pm</td>
											  		<td>Wedding Photo</td>
											  	</tr>
											  	<tr>
											  		<td>6:00pm</td>
											  		<td>Wedding Reception</td>
											  	</tr>
										  	</tbody>
										  </table>
									</div>
								</div>
							<div class="col-md-10 col-md-offset-1">
								<p>Many famous and amazing spots are within 30 minutes drive from South Lake Tahoe. This will be the perfect weekend to explore!</p>
								<p>Sunday starts off with water sports activity, we will be parasailing in the morning at Lakeside Marina and see Lake Tahoe from the sky. Ceremony will begin at 4pm on the same Lakeside beach. </p>
							</div>
						</div>
					</div>
				</div>
		
			
				<div id="rsvp_location" class="rsvp_info col-md-4">
					<div class="rsvp_info_icon">
						<div class="rsvp_icon_div">
							<a href="#rsvp_location_info" data-toggle="collapse">
								<%= image_tag('rsvp/icons/location_icon.png', size:"50x50")%>
							</a>
							<span>Location</span>
						</div>
					</div>
					<div class="rsvp_info_heading text-center">
						<h3>4041 Lakeshore Blvd</h3>
						<p>South Lake Tahoe</p>
						<p>California</p>
					</div>
					<div class="col-md-offset-10">
						<a id="location_arrow" class="glyphicon glyphicon-menu-down" data-toggle="collapse" href="#rsvp_location_info" aria-expanded="false" aria-controls="rsvp_location_info">
						</a>
					</div>
					<div  id="rsvp_location_info" class="collapse rsvp_inner_info">
						<div class="col-md-offset-1 col-md-10">
						  	<div class="rsvp_info_content">
			    		    	<p>Our outdoor wedding ceremony will take place at Lakeside Beach in South Lake Tahoe.</p>
			    		    	<p class="text-center"><strong><%= image_tag('rsvp/icons/sun_icon.png', size:"20x20")%> Likely Sunny, 26&#x2103; </strong></p>
			    		    	<p>Please prepare accordingly as we will be exposed to outdoor elements.</p>
			    		    	<p>Approximate travel time:</p>
			    		  		
			    		  		<ul class="list-group">
								  <li class="list-group-item"><%= image_tag('rsvp/icons/flying_icon.png', size:"20x20")%> Flight: YVR to SFO 2 h 20 min </li>
								  <li class="list-group-item"><%= image_tag('rsvp/icons/driving_icon.png', size:"20x20")%> Driving: Van to SF 15 h 3 min </li>
								  <li class="list-group-item"><%= image_tag('rsvp/icons/boat_icon.png', size:"20x20")%> Boat: Inaccessible</li>
								</ul>
						    </div>
							<div>
								<embed class="rsvp_embed_map" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3102.4768206567815!2d-119.95123299999997!3d38.958779!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s4041+Lakeshore+Blvd+South+Lake+Tahoe%2C+CA+96150!5e0!3m2!1s!2sus!4v1427879551865" width="100%" height="300" frameborder="0" style="border:0"></embed>
								<!-- <div class="rsvp_route_overlay" onClick="style.pointerEvents='none'">
								</div> -->
								<!-- <embed class="rsvp_route_embed" src="https://mapsengine.google.com/map/embed?mid=zvzbziTx2uIQ.kVPD6_cPUTyU" width="100%" height="480"></embed> -->
							</div>
							<div class="rsvp_link_route text-center">
								<br>
								<a target="_blank" href="https://www.google.com/maps/d/edit?mid=zvzbziTx2uIQ.kVPD6_cPUTyU">Link to Driving Route</a>
							</div>
						</div>
					</div>
				</div>
			 </div> <!-- row ends -->
			 <hr>
			 <div class="row">
				<div id="rsvp_hotel" class="rsvp_info col-md-4 col-md-offset-2">
					<div class="rsvp_info_icon">
						<div class="rsvp_icon_div">
							<a href="#rsvp_hotel_info" data-toggle="collapse">
								<%= image_tag('rsvp/icons/stay_icon.png', size:"50x50") %>
							</a>
							<span>Hotels</span>
						</div>
					</div>	
			  		<div class="rsvp_info_heading text-center">
						<div class="rsvp_info_stay_img col-md-offset-1 col-md-10">
				  			<%= image_tag('rsvp/logo/airbnb.png', size:"110x50") %>
				  			<%= image_tag('rsvp/logo/priceline.png', size:"170x30") %>
				  			<br>
				  			<%= image_tag('rsvp/logo/hardrock.png', size:"80x80") %>
				  			<%= image_tag('rsvp/logo/landing.png', size:"130x30") %>
				  		</div>
					</div>
			  		<div class="col-md-offset-10">
				  		<a class="glyphicon glyphicon-menu-down" data-toggle="collapse" href="#rsvp_hotel_info" aria-expanded="false" aria-controls="rsvp_hotel_info">
						</a>
				  	</div>
					<div class="collapse rsvp_inner_info" id="rsvp_hotel_info">	
			  			<div class="col-md-10 col-md-offset-1">
				  			<p>South Lake Tahoe offers many fine hotels and even airbnb's for best value. We recommend you to stay close to Lakeside Marina and around Heavenly Village. There are affordable hotels, boutique hotels and even Casino hotels on the Nevada side. </p>
				  			<p>See below for our recommendation:</p>
				    		<div class="panel panel-default">
								  <div class="panel-heading">
								    <h3 class="panel-title">$</h3>
								  </div>
								  	<table class="table">
									  	<tbody>
										  	<tr>
										  		<td width="30%">Sharing</td>
										  		<td><a target="_blank" href="https://www.airbnb.com/rooms/690968?checkin=08%2F01%2F2015&checkout=08%2F03%2F2015&guests=5&s=vusR">airbnb Example</a></td>
										  	</tr>
										  	<tr>
										  		<td>1 star hotel</td>
										  		<td><a target="_blank" href="http://www.bluejlodge.com/">Blue Jay Lodge</a>, <a target="_blank" href="http://www.yelp.com/biz/alpine-inn-and-spa-south-lake-tahoe">Alpine Inn & Spa</a>.</td>
										  	</tr>
									  	</tbody>
									</table>
									<!-- <div class="panel-body"> -->
								  	<!-- <ul>
								  		<li>
										Sharing cottage from airbnb. <a target="_blank" href="https://www.airbnb.com/rooms/690968?checkin=08%2F01%2F2015&checkout=08%2F03%2F2015&guests=5&s=vusR">Example</a>
										</li>
										<li>1~2 star hotel. ex: <a target="_blank" href="http://www.bluejlodge.com/">Blue Jay Lodge</a>, <a target="_blank" href="http://www.yelp.com/biz/alpine-inn-and-spa-south-lake-tahoe">Alpine Inn & Spa</a>.
										</li>
									</ul> -->
								  <!-- </div> -->
								  <div class="panel-heading">
								    <h3 class="panel-title">$$</h3>
								  </div>
								 
								  	<table class="table">
									  	<tbody>
										  	<tr>
										  		<td width="30%">2 star hotel</td>
										  		<td>
										  			<a target="_blank" href="http://www.yelp.com/biz/big-pines-mountain-house-south-lake-tahoe">Big Pines Mountain House</a>
										  		</td>
										  	</tr>
										  	<tr>
										  		<td>3 star hotel</td>
										  		<td>
										  			<a target="_blank" href="http://www.stationhouseinn.com/">Best Western</a>, <a target="_blank" href="http://www.ihg.com/holidayinnexpress/hotels/us/en/south-lake-tahoe/tvlso/hoteldetail">Holiday Inn Express</a>
										  		</td>
										  	</tr>
									  	</tbody>
									</table>
									 <!-- <div class="panel-body"> -->
								<!--     <ul>
								  		<li class="list-group-item">
										2 star hotel. ex: <a target="_blank" href="http://www.yelp.com/biz/big-pines-mountain-house-south-lake-tahoe">Big Pines Mountain House</a>
										</li>
										<li class="list-group-item">3 star hotel. ex: <a target="_blank" href="http://www.stationhouseinn.com/">Best Western</a>, <a target="_blank" href="http://www.ihg.com/holidayinnexpress/hotels/us/en/south-lake-tahoe/tvlso/hoteldetail">Holiday Inn Express</a>.
										</li>
									</ul> -->
								 <!--  </div> -->
								   <div class="panel-heading">
								    <h3 class="panel-title">$$$</h3>
								  </div>
								  <table class="table">
									  	<tbody>
										  	<tr>
										  		<td width="30%">4 star hotel</td>
										  		<td>
										  			<a target="_blank" href="https://www.caesars.com/harveys-tahoe">Harveys Casino & Hotel</a>, <a target="_blank" href="http://hardrockcasinolaketahoe.com/">Hard Rock Hotel & Casino</a>
										  		</td>
										  	</tr>
										  	<tr>
										  		<td>Luxury hotel</td>
										  		<td>
										  			<a target="_blank" href="http://www.marriott.com/hotels/travel/rnotl-marriotts-timber-lodge/">Marriott's Timber Lodge</a>, <a target="_blank" href="http://thelandingtahoe.com/">The Landing</a>, <a target="_blank" href="http://www.edgewoodtahoe.com/">Edgewood Hotel</a>
										  		</td>
										  	</tr>
									  	</tbody>
									</table>
								  <!-- <div class="panel-body">
								     <ul>
								  		<li>
										4 star hotel. ex: <a target="_blank" href="https://www.caesars.com/harveys-tahoe">Harveys Casino & Hotel</a>, <a target="_blank" href="http://hardrockcasinolaketahoe.com/">Hard Rock Hotel & Casino</a>
										</li>
										<li>Luxury hotel. ex: <a target="_blank" href="http://www.marriott.com/hotels/travel/rnotl-marriotts-timber-lodge/">Marriott's Timber Lodge</a>, <a target="_blank" href="http://thelandingtahoe.com/">The Landing</a>, <a target="_blank" href="http://www.edgewoodtahoe.com/">Edgewood Hotel</a>
										</li>
									</ul>
								  </div> -->
							</div>
						</div>
					</div>
				</div>	  		
					

				<div id="rsvp_activity" class="rsvp_info col-md-4">
					<div class="rsvp_info_icon">
						<div class="rsvp_icon_div">
							<a href="#rsvp_activity_info" data-toggle="collapse">
								<%= image_tag('rsvp/icons/activity_icon.png', size:"50x50") %>
							</a>
							<span>Activities</span>
						</div>
					</div>
					<div class="rsvp_info_heading text-center">
						<p>Jet ski</p>
						<p><strong>Parasailing</strong></p>
						<p>Boating</p>
					</div>
					<div class="col-md-offset-10">
						<a class="glyphicon glyphicon-menu-down" data-toggle="collapse" href="#rsvp_activity_info" aria-expanded="false" aria-controls="rsvp_activity_info">
						</a>
					</div>
					<div class="collapse rsvp_inner_info" id="rsvp_activity_info">
				  		<div class="col-md-10 col-md-offset-1">
				  			<p>We will be parasailing in the morning. Join us!</p>
					   		<p>Lake Tahoe is home to many outdoor activities. Explore around the area!</p>
						</div>
						<div class="row">
					    	<div class="col-md-5 col-md-offset-1">
					    		<div class="panel panel-info">
								  <div class="panel-heading">
								    <h3 class="panel-title">Water</h3>
								  </div>
								  <div class="panel-body">
								    <ul>
								    	<li>Boating</li>
								    	<li>Jet ski</li>
								    	<li>Water cycle</li>
								    	<li>Swimming</li>
								    </ul>
								  </div>
								</div>
					  		</div>
							<div class="col-md-5">
								<div class="panel panel-success">
								  <div class="panel-heading">
								    <h3 class="panel-title">Land</h3>
								  </div>
								  <div class="panel-body">
								    <ul>
								    	<li>Hiking</li>
								    	<li>Gondola Rides</li>
								    	<li>Cycling</li>
								    	<li>Golfing</li>
								    </ul>
								  </div>
								</div>
							</div>
						</div>
						<p class="col-md-offset-1">Parasailing Vendors: <a target="_blank" href="http://www.tahoesports.com/parasailing">Tahoe Sports</a>, <a target="_blank" href="http://www.action-watersports.com/">Action Watersports</a>.
					</div>
				</div>
			</div> <!-- row ends -->
		</section>
		<!-- Accordion Finish -->
		<section id="pre-form" class="text-center">
			<a href="javascript:;"><p>RSVP</p><span id="rsvp_form_arrow" class="glyphicon glyphicon-triangle-bottom" ></span></a>	
		</section>
		<div id="rsvp_info_long_div" class="hidden-xs hidden-sm">
			<!-- LONG DIV RSVP INFO -->
		</div>
	</div>  <!-- normal sroll ending div -->
</div>  <!-- end for adding class section. (#rsvp_last_section) -->
		



<div class="section">
	<div class="rsvp_normal_scroll">
		<section id="rsvp_form">
			<% if flash[:notice] %>
			<div id="notice" class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<%= notice %>
			</div>
			<% elsif flash[:alert] %>
			<div id="notice" class="alert alert-danger alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<%= alert %>
			</div>
			<% end %>
			<div class="rsvp_error_box"><%= render "form_errors" %></div>
			<!-- Desktop Form w/ Video -->
			<div id="rsvp_video_sec" class="player hidden-xs hidden-sm" data-property="{videoURL:'https://www.youtube.com/watch?v=KLsz6X5PP7Y',containment:'self',autoPlay:true, mute:true, startAt:0, opacity:0.6,mute: true,showControls:false}">
			<!-- change https://www.youtube.com/watch?v=Ycv5fNd4AeM to your youtube url-->
			    <div class="overlay">
			        <div class="container">
			        	<div class="text-center">
							<h2>We're excited to celebrate with you!</h2>
							<h3>Kindly respond by April 24th, 2015</h3>
						</div>
			            <div id="rsvp_video_form">
							<%= render 'form' %>
			            </div>
			        </div>
			    </div>
			</div>

			<!-- Mobile Form w/ Image -->
			<div id="rsvp_mobile_form" class="hidden-md hidden-lg">
				<div class="container">
					<div class="text-center">
						<h2>We're excited to celebrate with you!</h2>
						<h3>Kindly respond by April 27th, 2015</h3>
					</div>
						<%= render 'form' %>
				</div>
			</div>
		</section>

		<!-- 	<%= link_to 'Back', responses_path %> -->
		<div id="rsvp_top_button" class="rsvp_arrow">
				<a class="btn btn-info" href="javascript:;">
					<span class="glyphicon glyphicon-menu-up"> </span>
					<span>TOP</span>
				</a>
		</div>
		
		<div class="rsvp_footer">
			<!-- see css -->
		</div>
	</div>
</div>	



</div> <!-- RSVP full page ending div -->