<p id="notice"><%= notice %></p>


<p>
  <strong>Attendance</strong>
  <%= @response.attendance%>
</p>
<p>
  <strong>Name:</strong>
  <%= @response.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @response.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @response.email %>
</p>

<p>
  <strong>Meal:</strong>
  <%= @response.meal %>
</p>

<p>
  <strong>Guests:</strong>
  <%= @response.guests %>
</p>

<p>
  <strong>Shoe Size</strong>
  <%= @response.shoesize %>
</p>

<p>
  <strong>Activity</strong>
  <%= @response.activity%>
</p>


<p>
  <strong>Note:</strong>
  <%= @response.note %>
</p>

<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
