<!DOCTYPE html>
<html>
<head>
  <title>Jangel1</title>
  <meta name="viewport" content="width=device-width, user-scalable=false;">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top visible-phone" role="navigation">
		<div class="container">
			<h4 id="title" class="pull-left"><%= link_to 'Jerry & Angel', home_index_path %></h4>
			<button class = "navbar-toggle" data-toggle = "collapse" data-target =".navHeaderCollapse">
				<span class = "glyphicon glyphicon-menu-hamburger"></span>
			</button>
			<div class= "collapse navbar-collapse navHeaderCollapse">
				<ul class="nav navbar-nav navbar-right">
					<li>Story</li>
					<li>Proposal</li>
					<li>Civil Ceremony</li>
					<li>Four Seasons</li>
					<li><%= link_to 'Blog', blog_index_path %></li>
					<li><button id="rsvp" type="button" class="btn btn-info btn-sm pull-right">RSVP</button></li>
				</ul>
			</div>
		</div>
	</nav>
	<div id="top_space">
	</div>
	<%= yield %>

	<!-- container disabled in application to accomodate Wordpress Iframe -->
	<!-- <div class="container">
	<%= yield %>
	</div> -->

</body>
</html>
